/*=========================*/
/* === Generic Styling === */
/*=========================*/


.full_window {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  margin: 2px;
  border: 2px groove rgb(80, 80, 80);
  background-color: #fff;
  position: fixed;
  z-index: 1;
}

div.button {
  width: 250px;
  height: 85px;
  margin: 4% auto 0;
  padding-top: 40px;
  letter-spacing: 1.5px;
  font-weight: 400;
  text-align: center;
  color: rgb(50, 50, 50);
  background-color: rgba(210, 210, 210, 0.95);
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
}
div.button:hover {
  cursor: pointer;
  border: 2px solid #808080;
}

h1, h2,
h3, h4   { font-weight: 400; }
.bold    { font-weight: 600; }
.regular { font-weight: 400; }
.light   { font-weight: 200; }

/*================================*/
/* === Player Name Entry Page === */
/*================================*/


div#player_entry > h2#player_entry_message {
  text-align: center;
  font-size: 25pt;
  font-weight: 600;
}

div#player_entry > input#player_entry_name_input {
  width: 400px;
  height: 50px;
  margin: 50px calc(50% - 200px);
}

div#player_entry > div#player_entry_button_container {
  display: flex;
  flex-direction: row;
}

div#player_entry > ul#player_entry_player_list {
  position: absolute;
  top: 10px;
  left: 25px;
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}


/*====================================*/
/* === Game/Round Transition Page === */
/*====================================*/


div#player_transition {z-index: 2;}

div#player_transition > h1#transition_player_name {
  text-align: center;
  font-size: 40pt;
  text-decoration: underline;
  font-weight: 600;
}

div#player_transition > h2#transition_message {
  text-align: center;
  font-size: 20pt;
  line-height: 40px;
}

div#player_transition > ul#player_transition_player_list {
  position: absolute;
  top: 10px;
  left: 25px;
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

div#player_transition > ul#player_transition_player_list > li.winner {
  background-color: #1a941a;
  padding: 2px 4px;
  margin-left: -4px;
  border-radius: 3px;
  color: #fff;
}


/*====================================*/
/* === Active In-Game Player Page === */
/*====================================*/


div#active_player > div#active_player_black_card,
div#card_czar > div#card_czar_black_card  {
  position: absolute;
  top: 30px;
  left: 30px;
}

div#active_player > div#active_player_white_cards,
div#card_czar > div#card_czar_white_cards {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
  width: calc(100% - 84px);
  overflow-x: scroll;
  border: 2px groove #ddd;
  border-radius: 5px;
  padding: 10px;
  padding-right: 10px;
  background-color: #bbbbbb;
}

div#active_player > div#active_player_white_cards > div {
  display: flex;
  flex-direction: row;
  width: 1000%;
  padding-right: 10px;
}

div#active_player > div#active_player_name,
div#card_czar > div#card_czar_name {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 25pt;
  font-weight: 600;
}

div#active_player > div#active_player_confirm_button {
  margin: 0;
  position: absolute;
  top: 100px;
  right: 15px;
}

.black_card {
  width: 140px;
  height: 190px;
  margin: 0;
  padding: 5px 10px;
  border: 2px groove #757575;
  border-radius: 8px;
  background-color: #111;
}.black_card>span{
  font-size: 11pt;
  color: #fff;
  line-height: 20px;
}

.white_card {
  width: 140px;
  height: 190px;
  margin: 0 5px;
  padding: 5px 10px;
  border: 2px groove #eee;
  border-radius: 8px;
  background-color: #fff;
  white-space: normal;
}#active_player .white_card:hover{
  cursor: pointer;
  border: 2px groove #999999;
}.white_card.selected {
  border: 4px groove #99ee99 !important;
  /* height: 188px; */
  /* width: 138px; */
  /* padding: 3px 10px 4px 8px; */
  padding: 3px 8px;
}.white_card>span{
  font-size: 11pt;
  color: #000;
  line-height: 20px;
}


/*================================*/
/* === Card Czar Judging Page === */
/*================================*/


div#card_czar > div#card_czar_white_cards > div[class*="scroll_x"] {
  display: flex;
  flex-direction: row;
  width: 10000px;
  padding-right: 10px;
}

div#card_czar > div#card_czar_white_cards > div[class*="scroll_x"] > div.player_selection {
  display: flex;
  flex-direction:  row;
  padding: 5px;
  border: 2px groove #d4d4d4;
  border-radius: 5px;
  margin: 0 5px;
}

div#card_czar > div#card_czar_white_cards > div[class*="scroll_x"] > div.player_selection:hover {
  cursor: pointer;
  border: 2px solid #43a260;
}

.player_selection.selected {
  border: 4px groove #99ee99 !important;
  padding: 3px !important;
}
